<h1 class="text-center m-4 mb-5">Voici les details de cette evenement!</h1>
<%# <div class="row col-10 m-auto">   %>
    <div class="text-center m-5">
        <h2><%= @event.title %></h2>
                <h2></h2>
        <p>description de l'evenement: <%= @event.description %></p>
        <p>cette event aura lieux le: <%= @event.start_date %></p>
        <p>la date de fin de cette event: <%= @event.start_date + @event.duration * 60 %></p>
        <p>cette event aura lieux dans cette ville: <%= @event.location %></p>
        <p>Participer a cette event coute : <%= @event.price %>euro!</p>
        <p>event cree par: <%= User.find(@event.admin_id).email %></p>
        <% a = current_user %>
        <% b = User.find(@event.admin_id) %>
        <% if b.id != a.id %> <%= link_to "Participer", new_charge_path(@event.id) , :class => "btn btn-primary" %>
 
         <% end %>


    </div>
<%# </div> %>
